# Dependencies
node_modules/

# Env files
.env
*.env
frontend/.env
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / frontend builds
frontend/dist/
frontend/build/

# OS files
.DS_Store

# Tests cache
coverage/
